
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #391ca5, #4010af);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    position: relative;
    padding: 10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #333;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: rgb(39, 150, 194);
    top: 100%;
    left: 0;
    padding: 0;
    list-style: none;
    width: 180px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li:hover {
    background: #3380d8;
}

.submenu {
    position: relative;
}

.submenu-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: rgb(44, 127, 204);
    list-style: none;
    width: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.submenu:hover .submenu-menu {
    display: block;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

.search-box button {
    background: white;
    border: 1px solid #ccc;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.search-box button:hover {
    background: #24997c;
}

main {
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

.conversion-box {
    background: white;
    padding: 20px;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #256da8;
    width: 90%;
    max-width: 400px;
}

.conversion-box h3 {
    color: #0f836a;
    margin-bottom: 10px;
}

.conversion-box label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}

.conversion-box input,
.conversion-box select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.conversion-box span {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.conversion-box button {
    background: #0c746e;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.conversion-box button:hover {
    background: #225686;
}
